#home__hero {
	width: 100%;
	background: var(--white);

	.home__hero__content {
		width: 100%;
		max-width: 1920px;
		margin: 0 auto;

		.hero__text__container {
			width: 100%;
			margin: calc(6rem) 1rem 6rem 2rem;
			overflow: hidden;

			.hero__text {
				width: 100%;
				max-width: 601px;
				padding-right: 0.5rem;

				h1 {
					font-style: italic;
					font-weight: 300;
					font-size: 3.1rem;
					line-height: 64px;
					color: var(--AIESEC-Dark-Main);
					padding: 0.7rem;

					span.highlighted {
						font-weight: 700;
					}
				}
			}

			@media screen and (max-width: 800px) {
				margin: calc(6rem) 1rem 6rem 1rem;
			}

			@media screen and (max-width: 480px) {
				margin: calc(6rem) 1rem 6rem 1rem;

				h1 {
					font-size: 2.8rem;
					line-height: 52px;
				}
			}
		}

		.hero__reels {
			width: 100%;
			height: 335px;
			margin: 2.6rem 0 6rem;
			position: relative;
			cursor: pointer;

			.poster {
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				// background: url('https://img.youtube.com/vi/1u-74sc4IIs/hqdefault.jpg');
				// background-size: contain;

				img {
					width: 100%;
					height: 335px;
					object-fit: cover;
				}

				&.hide {
					z-index: -1;
				}
			}

			.play__icon {
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: 2;
				top: 0;
				left: 0;
				display: flex;
				justify-content: center;
				align-items: center;

				svg:first-child {
					animation: rotate 6s linear infinite reverse;
				}

				svg:nth-child(2) {
					position: absolute;
					z-index: 2;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					font-size: 1.2rem;
					color: #000;
				}
			}

			&__video {
				width: 100%;
				height: 100%;
			}

			video {
				object-fit: cover;
			}

			@keyframes rotate {
				from {
					transform: rotate(0deg);
				}
				to {
					transform: rotate(360deg);
				}
			}
		}
	}

	.modal-video-close-btn {
		&::before,
		&::after {
			background: var(--AIESEC-Blue);
		}
	}

	.modal-video-movie-wrap {
		iframe {
			width: 100% !important;
			height: 100% !important;
		}
	}
}
