#sidebar__desktop {
	position: fixed;
	z-index: 11;
	top: 0;
	left: 0;
	width: 108px;
	height: 100vh;
	background: var(--white);
	border-right: 1px solid var(--outline);

	div.socials {
		border-top: 1px solid var(--outline);
		width: 100%;
		margin-top: 25vh;

		a.social {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 104px;
			width: 100%;
			border-bottom: 1px solid var(--outline);

			svg {
				font-size: 1.3rem;
				color: var(--AIESEC-Dark-Sub);
				transition: 0.3s all ease-in-out;

				&:hover {
					font-size: 1.6rem;
				}
			}

			&:hover {
				svg {
					font-size: 1.6rem;
				}

				&.facebook {
					svg {
						color:  #4267B2;
					}
				}

				&.youtube {
					svg {
						color: #ff0000;
					}
				}

				&.instagram {
					svg {
						color: #8a3ab9;
					}
				}
			}
		}
	}

	div.scroll__down {
		margin-top: 6rem;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: rotateZ(90deg);

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			text-transform: uppercase;
			color: var(--AIESEC-Dark-Sub);
			word-break: keep-all;
			white-space: nowrap;
			cursor: pointer;
		}

		svg {
			margin-left: 1rem;
			font-size: 1.5rem;
			color: var(--light-grey);
			animation: bounceLef infinite alternate-reverse 0.6s linear both;
		}
	}

	@media screen and (max-width: 600px){
		display: none;
	}
}

@keyframes bounceLef {
	from {
		transform: translateX(0px);
	}
	to {
		transform: translateX(20px);
	}
}
