#home__about {
	width: 100%;
	background: var(--white);
	margin-bottom: 10rem;

	.home__about__content {
		width: 100%;
		max-width: 1920px;
		margin: 0 auto;
		padding: 0 1rem;

		.wiggly {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 2.6rem;
		}

		.title {
			font-weight: bold;
			font-size: 0.9rem;
			line-height: 24px;
			letter-spacing: -0.01em;
			color: var(--AIESEC-Dark-Main);
			margin-bottom: 1.12rem;
		}

		.home__about__content__desc {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 100%;
			max-width: 838px;
			margin: 0 auto;
			text-align: center;

			.text {
				font-style: italic;
				font-weight: 300;
				font-size: 1.11rem;
				line-height: 32px;
				letter-spacing: -0.01em;
				color: var(--AIESEC-Dark-Sub);
			}
		}
	}
}
