#header__desktop {
	position: fixed;
	top: 0;
	left: 0;
	padding-left: 108px;
	z-index: 10;
	width: 100%;
	height: 110px;
	background: var(--white);

	&.fixed {
		box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
			rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	}

	.header__desktop__content {
		width: 100%;
		height: 100%;
		padding-right: 1.5rem;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;

		div.AIESEC__logo {
			height: 42px;
			padding-right: 24px;

			a {
				height: 100%;
				display: flex;
				align-items: center;

				.border {
					height: 1px;
					width: 91px;
					border-bottom: 1px solid var(--outline);

					@media screen and (max-width: 800px) {
						width: 45px;
					}
				}

				img {
					width: 116px;
				}
			}
		}

		.join__AIESEC {
			border: none;
			width: 211px;
			height: 54px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 5px;
			font-style: normal;
			font-weight: bold;
			font-size: 0.9rem;
			line-height: 24px;
			letter-spacing: -0.01em;
			background: var(--AIESEC-Blue);
			color: var(--white);

			@media screen and (max-width: 475px) {
				width: 180px;
				height: 44px;
			}
		}

		@media screen and (max-width: 1170px) {
			padding-right: 1rem;
		}
	}

	@media screen and (max-width: 600px) {
		padding-left: 0;
	}
}
