#header__desktop {
	position: fixed;
	top: 0;
	left: 0;
	padding-left: 108px;
	z-index: 10;
	width: 100%;
	height: 110px;
	background: var(--white);

	&.fixed {
		box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
			rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	}

	.header__desktop__content {
		width: 100%;
		height: 100%;
		padding-right: 1.5rem;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;

		div.AIESEC__logo {
			height: 42px;
			border-right: 1px solid var(--outline);
			padding-right: 24px;

			a {
				height: 100%;
				display: flex;
				align-items: center;

				.border {
					height: 1px;
					width: 91px;
					border-bottom: 1px solid var(--outline);

					@media screen and (max-width: 800px) {
						width: 45px;
					}
				}

				img {
					width: 116px;
				}
			}
		}

		.hamburger {
			display: none;
			height: 24.5px;
			width: 40px;
			margin-right: 1.5rem;
			position: relative;
			transform: rotate(0deg);
			transition: 0.5s ease-in-out;
			cursor: pointer;

			span {
				display: block;
				position: absolute;
				height: 2px;
				width: 100%;
				background: var(--AIESEC-Blue);
				border-radius: 9px;
				opacity: 1;
				right: 0;
				transform: rotate(0deg);
				transition: 0.25s ease-in-out;
			}

			span:nth-child(1) {
				width: 24px;
				top: 0px;
			}

			span:nth-child(2) {
				width: 12px;
				top: 9px;
			}

			span:nth-child(3) {
				width: 18px;
				top: 18px;
			}

			&.open span:nth-child(1) {
				top: 18px;
				transform: rotate(135deg);
			}

			&.open span:nth-child(2) {
				opacity: 0;
				left: 140px;
			}

			&.open span:nth-child(3) {
				top: 18px;
				transform: rotate(-135deg);
			}

			@media screen and (max-width: 1170px) {
				display: block;
			}
		}

		nav.header__navigation {
			width: 100%;
			height: 100%;

			ul {
				position: relative;
				height: 100%;
				display: flex;
				align-items: center;

				li {
					height: 100%;

					a {
						padding: 1rem 2rem 1rem 0.7rem;
						height: 100%;
						position: relative;
						display: flex;
						justify-content: center;
						align-items: center;
						overflow: hidden;

						svg {
							position: absolute;
							bottom: 34px;
							width: 0px;
							transition: all 0.35s ease-in-out;
						}

						p.link__text {
							font-style: normal;
							font-weight: normal;
							font-size: 16px;
							line-height: 24px;
							color: var(--AIESEC-Dark-Sub);
							opacity: 0.6;
						}

						&:hover,
						&.selected {
							svg {
								width: 68.01px;
							}

							p.link__text {
								opacity: 1;
							}
						}
					}

					@media screen and (max-width: 1170px) {
						display: none;
					}

					&.opportunities {
						svg {
							position: relative;
							bottom: 0;
							width: auto;
							margin-left: 7px;
							color: #2e3a59;
						}

						.child__container {
							position: absolute;
							top: 110px;
							right: -1.5rem;
							width: calc(100vw - 113px);
							padding: 1.5rem;
							min-height: 300px;
							background: var(--white);
							visibility: hidden;
							opacity: 0;
						}

						&:hover {
							svg {
								width: auto;
								transform: rotateZ(180deg);
							}

							.child__container {
								visibility: visible;
								opacity: 1;
							}
						}
					}

					&.search {
						height: 100%;
						flex: auto;
						display: flex;
						align-items: center;
						padding-left: 24px;

						svg {
							margin-right: 12px;
							color: #000000;
						}

						div {
							display: flex;
							align-items: center;
							justify-content: space-between;
							background: var(--white);
							width: auto;
							height: 100%;
							transition: width 0.5s ease-in-out;

							input {
								border: none;
								outline: none;
								padding: 0.5rem;
								font-style: normal;
								font-weight: normal;
								font-size: 0.9rem;
								line-height: 24px;
								color: rgba(var(--AIESEC-Dark-Sub-rgb), 0.8);
								width: 100%;
								height: 100%;

								&::placeholder {
									font-style: normal;
									font-weight: normal;
									font-size: 0.9rem;
									line-height: 24px;
									color: var(--AIESEC-Dark-Sub);
									opacity: 0.5;
								}

								&:focus {
									border: none;
									box-shadow: none;
								}

								&::-webkit-search-cancel-button {
									display: none;
								}
							}

							.clear__icon {
								display: none;
								align-items: center;
								justify-content: center;
								cursor: pointer;

								svg {
									color: var(--AIESEC-Blue);
									font-size: 1.2rem;
								}
							}

							&.focus {
								position: absolute;
								z-index: 10;
								top: 50%;
								left: 52px;
								transform: translateY(-50%);
								width: calc(100% - 1.5rem);

								.clear__icon {
									display: flex;
								}

								@media screen and (max-width: 600px) {
									.clear__icon {
										width: auto;
									}
								}
							}

							@media screen and (min-width: 1170px) and (max-width: 1346px) {
								width: 0;
							}

							@media screen and (max-width: 600px) {
								width: 0;
							}
						}
					}
				}
			}
		}

		@media screen and (max-width: 1170px) {
			padding-right: 0;
		}
	}

	@media screen and (max-width: 600px) {
		padding-left: 0;
	}
}

.header__navigation__mobile {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 119;
	background: var(--white);
	top: 0;
	left: -100vw;
	transition: left 0.4s ease-in-out;

	&.open {
		left: 0;
	}

	.AIESEC__logo__close {
		height: 110px;
		width: 100%;
		padding: 0 30px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		a {
			height: 12px;
			display: flex;
			align-items: center;

			img {
				width: 116px;
				height: 100%;
			}
		}

		.hamburger {
			display: none;
			height: 24.5px;
			width: 40px;
			position: relative;
			transform: rotate(0deg);
			transition: 0.5s ease-in-out;
			cursor: pointer;

			span {
				display: block;
				position: absolute;
				height: 2px;
				width: 100%;
				background: var(--AIESEC-Blue);
				border-radius: 9px;
				opacity: 1;
				right: 0;
				transform: rotate(0deg);
				transition: 0.25s ease-in-out;
			}

			span:nth-child(1) {
				width: 24px;
				top: 0px;
			}

			span:nth-child(2) {
				width: 12px;
				top: 9px;
			}

			span:nth-child(3) {
				width: 18px;
				top: 18px;
			}

			&.open span:nth-child(1) {
				top: 18px;
				transform: rotate(135deg);
			}

			&.open span:nth-child(2) {
				opacity: 0;
				left: 140px;
			}

			&.open span:nth-child(3) {
				top: 18px;
				transform: rotate(-135deg);
			}

			@media screen and (max-width: 1170px) {
				display: block;
			}
		}
	}

	ul {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 91px;

		li {
			width: 100%;
			min-height: 42px;

			a {
				padding: 1.4rem 1rem;
				width: 100%;
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				overflow: hidden;

				svg {
					position: absolute;
					bottom: 10px;
					width: 0px;
					transition: all 0.35s ease-in-out;
				}

				p.link__text {
					font-style: normal;
					font-weight: normal;
					font-size: 24px;
					line-height: 24px;
					color: var(--AIESEC-Dark-Sub);
					opacity: 0.5;
				}

				&:hover,
				&.selected {
					svg {
						width: 68.01px;
					}

					p.link__text {
						opacity: 1;
					}
				}
			}

			&.opportunities {
				svg {
					position: relative;
					bottom: 0;
					width: auto;
					margin-left: 7px;
					color: #2e3a59;
				}

				// .child__container {
				// 	position: absolute;
				// 	top: 110px;
				// 	right: -1.5rem;
				// 	width: calc(100vw - 113px);
				// 	padding: 1.5rem;
				// 	min-height: 300px;
				// 	background: var(--white);
				// 	visibility: hidden;
				// 	opacity: 0;
				// }

				&:hover {
					svg {
						width: auto;
						transform: rotateZ(180deg);
					}

					// .child__container {
					// 	visibility: visible;
					// 	opacity: 1;
					// }
				}
			}
		}
	}
}
