#about__faqs {
	width: 100%;
	padding: 0 1rem;
	margin-bottom: 143px;

	.about__faqs__content {
		width: 100%;
		max-width: 750px;
		margin: 0 auto;

		.faqs__container {
			width: 100%;

			.faq {
				width: 100%;
				margin-bottom: 36px;
				max-height: 700px;
				overflow: hidden;
				transition: all 0.3s ease-in-out;
				border-bottom: 1px solid #f1f3f5;
				padding: 0 0 20px;

				&.closed {
					max-height: 50px;

					.faq__title__button {
						.faq__title {
							color: var(--AIESEC-Dark-Main);
						}
					}
				}

				.faq__title__button {
					width: 100%;
					height: 50px;
					display: flex;
					justify-content: space-between;
					align-items: center;

					.faq__title {
						font-style: normal;
						font-weight: bold;
						font-size: 0.9rem;
						line-height: 56px;
						color: var(--AIESEC-Blue);
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					button {
						border: none;
						outline: none;
						min-width: 40px;
						min-height: 40px;
						max-width: 40px;
						max-height: 40px;
						background: none;
						display: flex;
						justify-content: center;
						align-items: center;
						color: var(--AIESEC-Blue);
						font-weight: 400;
						margin-left: 1rem;
						font-size: 1.2rem;

						@media screen and (max-width: 500px) {
							min-width: 36px;
							min-height: 36px;
							max-width: 36px;
							max-height: 36px;
						}
					}
				}

				.faq__content {
					margin-top: 10px;
					width: 100%;

					p {
						font-style: italic;
						font-weight: 300;
						font-size: 1.12rem;
						line-height: 32px;
						color: var(--AIESEC-Dark-Main);
					}
				}
			}
		}
	}
}
