#blog__preview {
	width: 100%;
	background: var(--white);
	padding: 1rem;
	margin-bottom: 2.5rem;

	.main__title {
		text-align: center;
		font-size: 0.9rem;
		line-height: 24px;
		text-align: center;
		letter-spacing: -0.01em;
		color: var(--AIESEC-Dark-Main);
		opacity: 0.7;
        margin-bottom: 0.7rem;
	}

	.main__subtitle {
		text-align: center;
		font-weight: bold;
		font-size: 1.8rem;
		line-height: 24px;
		color: var(--AIESEC-Dark-Main);
        margin-bottom: 4rem;
	}

	.blog__preview__content {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 1.5rem;

		.blog__preview {
			width: 100%;
			max-width: 556px;

			&.push__down {
				margin-top: 3.8rem;
			}

			&__image {
				width: 100%;
				margin-bottom: 2.2rem;
				cursor: pointer;

				img {
					width: 100%;
				}
			}

			&__details {
				.blog__preview__title {
					font-style: italic;
					font-weight: bold;
					font-size: 1.8rem;
					line-height: 40px;
					color: var(--AIESEC-Dark-Main);
					margin-bottom: 0.5rem;
				}

				.blog__preview__text {
					font-style: italic;
					font-weight: 300;
					font-size: 1rem;
					line-height: 24px;
					letter-spacing: -0.01em;
					color: var(--AIESEC-Dark-Sub);
					margin-bottom: 0.9rem;
				}

				.view__more {
					max-width: 200px;
					display: block;
					font-weight: 600;
					font-size: 0.9rem;
					line-height: 24px;
					color: var(--AIESEC-Dark-Sub);
					display: flex;
					align-items: center;

					svg {
						font-weight: 300;
						margin-left: 0.5rem;
						color: var(--AIESEC-Blue);
						transition: all 0.5s ease-in-out;
					}

					&:hover {
						svg {
							transform: translateX(10px);
						}
					}
				}
			}
		}
	}

	.explore__more {
		width: 100%;
		max-width: 180px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 4.5rem;

		p {
			font-weight: bold;
			font-size: 0.9rem;
			line-height: 24px;
			color: var(--AIESEC-Dark-Sub);
			display: flex;
			align-items: center;

			svg {
				margin-left: 0.5rem;
				color: var(--AIESEC-Blue);
				transition: all 0.5s ease-in-out;
			}
		}

		&:hover {
			p svg {
				transform: translateX(5px);
			}
		}

		.border__bottom {
			margin-top: -8px;
		}
	}
}
