.opportunity__portal {
	width: 100%;
	margin-bottom: 4rem;

	.opportunity__details {
		width: 100%;
		min-height: 597px;
		padding: 0 1rem;
		padding-bottom: 200px;

		&.GTa {
			background: var(--AIESEC-GTa);
		}

		&.GV {
			background: var(--AIESEC-GV-Red);
		}

		&.GTe {
			background: var(--AIESEC-GTe);
		}

		&.AM {
			background: var(--AIESEC-Blue);
		}

		&__content {
			width: 100%;
			max-width: 1135px;
			margin: 0 auto;

			.opportunity__logo {
				width: 127px;
				height: 103px;
				background: var(--white);
				display: flex;
				justify-content: center;
				align-items: flex-end;
				padding: 1rem;

				img{
					width: 97px;
					height: 30px;
				}
			}

			.opportunity__cta {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				margin: 1.5rem 0 3.2rem;

				.opportunity__desc {
					flex: auto;

					.title {
						font-weight: bold;
						font-size: 2.7rem;
						line-height: 56px;
						color: var(--white);
						margin-bottom: 0.9rem;
					}

					.text {
						width: 100%;
						max-width: 652px;
						padding-right: 1rem;
						font-style: italic;
						font-weight: 300;
						font-size: 1.11rem;
						line-height: 32px;
						letter-spacing: -0.01em;
						color: var(--white);
						margin-bottom: 2.3rem;
					}

					.other__desc {
						width: 100%;
						max-width: 490px;
						display: flex;
						align-items: center;
						justify-content: space-between;
						flex-wrap: wrap;

						.desc {
							display: flex;
							padding: 1rem 0;

							// &:first-child {
							// 	margin-right: 1rem;
							// }

							.box {
								display: block;
								width: 24px;
								height: 24px;
								background-color: var(--white);
								margin-right: 0.9rem;
							}

							div {
								font-size: 0.9rem;
								line-height: 24px;
								color: var(--white);

								.p {
									opacity: 0.6;
								}

								p:nth-child(2) {
									font-weight: 600;
								}
							}
						}
					}
				}

				.learn__more {
					display: block;

					p {
						font-weight: bold;
						font-size: 0.9rem;
						line-height: 24px;
						color: var(--white);
						display: flex;
						justify-content: center;
						align-items: center;

						svg {
							margin-left: 0.5rem;
							color: var(--white);
							transition: all 0.5s ease-in-out;
						}
					}

					&:hover {
						p svg {
							transform: translateX(5px);
						}
					}

					.border__bottom {
						margin-top: -10px;
					}

					@media screen and (max-width: 883px) {
						margin-top: 2rem;
					}

					@media screen and (max-width: 485px) {
						margin: 2.5rem 0 2.5rem auto;
					}
				}
			}
		}
	}

	.opportunity__carousel {
		width: 100%;
		margin-top: -200px;

		&__content {
			width: 100%;
			height: 100%;
			margin: 0 auto;
			max-width: 1440px;
			padding-left: 85px;

			.top {
				width: 100%;
				max-width: 1135px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: wrap;
				margin-bottom: 1.5rem;
				padding-right: 0.5rem;

				p {
					font-weight: 600;
					font-size: 0.9rem;
					line-height: 24px;
					color: var(--white);
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 0.5rem;

					svg {
						margin-left: 0.5rem;
						color: var(--white);
						transition: all 0.5s ease-in-out;
					}

					&:hover {
						svg {
							transform: translateX(10px);
						}
					}
				}

				.view__more {
					display: block;

					p {
						font-weight: normal;
						opacity: 0.8;
					}
				}
			}

			@media screen and (max-width: 600px) {
				padding-left: 1.5rem;
			}
		}
	}
}
