#testimonials {
	width: 100%;
	min-height: 602px;
	background: url('https://res.cloudinary.com/dkaflz24l/image/upload/v1637766956/AiN%20Website%20Assets/testimonials-bg_ymer7t.png');
	background-repeat: no-repeat;
	background-size: cover;
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}
