#testimonials {
	width: 100%;
	min-height: 602px;
	background: url('../../assets/images/Testimonial.png');
	background-repeat: no-repeat;
	background-size: cover;
    margin-bottom: 7.5rem;
    display: flex;
	justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
}
