#about__what__we__do {
	width: 100%;
	margin-bottom: 179px;

	@media screen and (max-width: 975px) {
		margin-bottom: 64px;
	}

	.about__what__we__do__content {
		width: 100%;
		max-width: 1136px;
		margin: 0 auto;
		padding: 0 1rem;

		.title,
		.subtitle,
		.follow__up__text {
			width: 100%;
			margin: 0 auto;
		}

		.title,
		.follow__up__text {
			font-style: italic;
			font-weight: 300;
			font-size: 1rem;
			line-height: 28px;
			text-align: center;
			color: var(--AIESEC-Dark-Main);
			margin-bottom: 24px;
		}

		.subtitle {
			font-style: normal;
			font-weight: bold;
			font-size: 2rem;
			line-height: 40px;
			text-align: center;
			letter-spacing: -0.04em;
			color: var(--AIESEC-Dark-Main);
			margin-bottom: 12px;
		}

		.follow__up__text {
			line-height: 24px;
			max-width: 556px;
			margin-bottom: 95px;

			@media screen and (max-width: 975px) {
				margin-bottom: 26px;
			}
		}

		.illustration__container {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.illustration__content__mid {
				width: 90%;
				margin: 0 auto;
				display: none;
				justify-content: space-between;
				align-items: center;

				@media screen and (max-width: 975px) {
					flex-direction: column-reverse;

					.illustration__content {
						&.last__first {
							.value:nth-child(2) {
								border-bottom: 1px solid var(--outline);
							}
						}

						.value.justify__right {
							.value__title {
								flex-direction: row;

								p {
									margin: 0;
								}

								svg {
									margin-right: 16px;
								}
							}

							.value__text {
								text-align: left;
							}
						}
					}
				}
			}

			.illustration__content {
				width: 100%;
				max-width: 362px;

				.value {
					width: 100%;
					padding: 28px 0;

					&__title {
						width: 100%;
						display: flex;
						align-items: center;
						margin-bottom: 7px;

						svg {
							margin-right: 16px;
						}
					}

					&__text {
						font-style: italic;
						font-weight: 300;
						font-size: 1rem;
						line-height: 24px;
						color: var(--AIESEC-Dark-Main);
					}

					&.justify__right {
						.value__title {
							flex-direction: row-reverse;

							p {
								margin-right: 16px;
							}

							svg {
								margin: 0;
							}
						}

						.value__text {
							text-align: right;
						}
					}

					&:first-child {
						border-bottom: 1px solid var(--outline);
					}
				}

				&.first__last {
					order: 1;
				}

				&.last__first {
					order: 3;
				}
			}

			.illustration__image {
				order: 2;

				@media screen and (max-width: 1120px) {
					margin-bottom: 42px;
					order: 1;
				}

				@media screen and (max-width: 975px) {
					margin-bottom: 0;
				}
			}

			@media screen and (max-width: 1120px) {
				flex-direction: column;

				.illustration__content {
					display: none;
				}

				.illustration__content__mid {
					display: flex;
					order: 2;

					.illustration__content {
						display: block;
					}
				}
			}
		}
	}
}
